## create a data frame using csv

In [119]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Create a data frame using python dictionary

In [120]:
dictionary = {

    'day': ['1/1/2017', '1/2/2017'],
    'temperature': [32,35]
}

df2 = pd.DataFrame(dictionary)
df2

        day  temperature
0  1/1/2017           32
1  1/2/2017           35

In [121]:
df.shape

(6, 4)

In [122]:
rows, columns = df.shape
rows

6

## Print only few of the starting rows

In [123]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [124]:
df.head(2) #print 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [125]:
df.tail(4) #print last 4 rows

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [126]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [127]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [128]:
df.day #print individual column using its key or title

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [129]:
type(df['event']) #what is the type of the columns ?

pandas.core.series.Series

## print only selective few columns

In [130]:
df[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [131]:
df['temperature'].max()

35

In [132]:
df['temperature'].min()

24

In [133]:
df['temperature'].mean()

30.333333333333332

In [134]:
df['temperature'].std() # standard deviation

3.8297084310253524

## Print statistics on entire data in one go

In [135]:
df.describe() # the 25, 50, 75 are percentile

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

### Give all the temperatures in the dataset where temp is greater than or equal to 32

In [ ]:
df[df.temperature>=32]